{%- set is_v1 = "/v1/" in pagename -%}
{%- set is_v2 = "/v2/" in pagename -%}

{%- set pagename_v1 = pagename.replace("/v2/", "/v1/") -%}
{%- set pagename_v2 = pagename.replace("/v1/", "/v2/") -%}

{%- if not hasdoc(pagename_v1) -%}
	{%- set pagename_v1 = "reference/v1/payments-api/create-payment" -%}
{%- endif -%}

{%- if not hasdoc(pagename_v2) -%}
	{%- set pagename_v2 = "reference/v2/payments-api/create-payment" -%}
{%- endif -%}

<div class="api-version-switcher">
	<select class="link-dropdown" data-enhancer="link-dropdown">
		<option value="{{ pathto(pagename_v2) }}"{% if is_v2 %} selected{% endif %}>API version 2 (latest)</option>
		<option value="{{ pathto(pagename_v1) }}"{% if is_v1 %} selected{% endif %}>API version 1</option>
	</select>
</div>
