{% from 'macros/sidebar-item.html' import sidebar_item with context -%}
{% from 'macros/sidebar-collapse-group.html' import sidebar_collapse_group with context -%}

{% include 'api-version-switcher.html' %}

<p class="sidebar__topic-header">Accepting payments</p>

<ul>
  {%- set current = pagename.startswith('reference/v2/payments-api/') -%}
  <li class="sidebar__item sidebar__group {%- if current %} current{% endif %}">
    <a href="{{ pathto('reference/v2/payments-api/overview') }}"
       class="{% if pagename == 'reference/v2/payments-api/overview' %}current{% endif %}">Payments API</a>

    {%- if current %}
      <ul>
        {{ sidebar_item(
          'reference/v2/payments-api/create-payment',
          'Create payment'
        ) }}
        {{ sidebar_item(
          'reference/v2/payments-api/get-payment',
          'Get payment'
        ) }}
        {{ sidebar_item(
          'reference/v2/payments-api/update-payment',
          'Update payment'
        ) }}
        {{ sidebar_item(
          'reference/v2/payments-api/cancel-payment',
          'Cancel payment'
        ) }}
        {{ sidebar_item(
          'reference/v2/payments-api/list-payments',
          'List payments'
        ) }}
      </ul>
    {%- endif %}
  </li>

  {%- set current = pagename.startswith('reference/v2/methods-api/') -%}
  <li class="sidebar__item sidebar__group {%- if current %} current{% endif %}">
    <a href="{{ pathto('reference/v2/methods-api/overview') }}"
       class="{% if pagename == 'reference/v2/methods-api/overview' %}current{% endif %}">Methods API</a>

    {%- if current %}
      <ul>
        {{ sidebar_item(
          'reference/v2/methods-api/list-methods',
          'List payment methods'
        ) }}
        {{ sidebar_item(
          'reference/v2/methods-api/list-all-methods',
          'List all payment methods'
        ) }}
        {{ sidebar_item(
          'reference/v2/methods-api/get-method',
          'Get payment method'
        ) }}
      </ul>
    {%- endif %}
  </li>

  {%- set current = pagename.startswith('reference/v2/refunds-api/') -%}
  <li class="sidebar__item sidebar__group {%- if current %} current{% endif %}">
    <a href="{{ pathto('reference/v2/refunds-api/overview') }}"
       class="{% if pagename == 'reference/v2/refunds-api/overview' %}current{% endif %}">Refunds API</a>

    {%- if current %}
      <ul>
        {{ sidebar_item(
          'reference/v2/refunds-api/create-payment-refund',
          'Create payment refund'
        ) }}
        {{ sidebar_item(
          'reference/v2/refunds-api/get-payment-refund',
          'Get payment refund'
        ) }}
        {{ sidebar_item(
          'reference/v2/refunds-api/cancel-payment-refund',
          'Cancel payment refund'
        ) }}
        {{ sidebar_item(
        'reference/v2/refunds-api/list-payment-refunds',
        'List payment refunds'
        ) }}
        {{ sidebar_item(
        'reference/v2/refunds-api/create-order-refund',
        'Create order refund'
        ) }}
        {{ sidebar_item(
        'reference/v2/refunds-api/list-order-refunds',
        'List order refunds'
        ) }}
        {{ sidebar_item(
          'reference/v2/refunds-api/list-refunds',
          'List refunds'
        ) }}
      </ul>
    {%- endif %}
  </li>

  {%- set current = pagename.startswith('reference/v2/chargebacks-api/') -%}
  <li class="sidebar__item sidebar__group {%- if current %} current{% endif %}">
    <a href="{{ pathto('reference/v2/chargebacks-api/overview') }}"
       class="{% if pagename == 'reference/v2/chargebacks-api/overview' %}current{% endif %}">Chargebacks API</a>

    {%- if current %}
      <ul>
        {{ sidebar_item(
          'reference/v2/chargebacks-api/get-payment-chargeback',
          'Get payment chargeback'
        ) }}
        {{ sidebar_item(
          'reference/v2/chargebacks-api/list-payment-chargebacks',
          'List payment chargebacks'
        ) }}
        {{ sidebar_item(
          'reference/v2/chargebacks-api/list-chargebacks',
          'List chargebacks'
        ) }}
      </ul>
    {%- endif %}
  </li>

  {%- set current = pagename.startswith('reference/v2/captures-api/') -%}
  <li class="sidebar__item sidebar__group {%- if current %} current{% endif %}">
    <a href="{{ pathto('reference/v2/captures-api/overview') }}"
       class="{% if pagename == 'reference/v2/captures-api/overview' %}current{% endif %}">Captures API</a>

    {%- if current %}
      <ul>
        {{ sidebar_item(
        'reference/v2/captures-api/get-capture',
        'Get capture'
        ) }}
        {{ sidebar_item(
        'reference/v2/captures-api/list-captures',
        'List captures'
        ) }}
      </ul>
    {%- endif %}
  </li>

  {%- set current = pagename.startswith('reference/v2/wallets-api/') -%}
  <li class="sidebar__item sidebar__group {%- if current %} current{% endif %}">
    <a href="{{ pathto('reference/v2/wallets-api/overview') }}"
       class="{% if pagename == 'reference/v2/wallets-api/overview' %}current{% endif %}">Wallets API</a>

    {%- if current %}
      <ul>
        {{ sidebar_item(
          'reference/v2/wallets-api/request-apple-pay-payment-session',
          'Request Apple Pay Payment Session'
        ) }}
      </ul>
    {%- endif %}
  </li>

  {%- set current = pagename.startswith('reference/v2/payment-links-api/') -%}
  <li class="sidebar__item sidebar__group {%- if pagename.startswith('reference/v2/payment-links-api/') %} current{% endif %}">
    <a href="{{ pathto('reference/v2/payment-links-api/overview') }}"
       class="{% if pagename == 'reference/v2/payment-links-api/overview' %}current{% endif %}">Payment links API</a>

    {%- if pagename.startswith('reference/v2/payment-links-api/') %}
      <ul>
        {{ sidebar_item(
        'reference/v2/payment-links-api/create-payment-link',
        'Create payment link'
        ) }}
        {{ sidebar_item(
        'reference/v2/payment-links-api/get-payment-link',
        'Get payment link'
        ) }}
        {{ sidebar_item(
        'reference/v2/payment-links-api/list-payment-links',
        'List payment links'
        ) }}
      </ul>
    {%- endif %}
  </li>
</ul>

<p class="sidebar__topic-header">Components</p>

<ul>
  {%- set current = pagename.startswith('reference/mollie-js') -%}
  <li class="sidebar__item sidebar__group {%- if current %} current{% endif %}">
    <a href="{{ pathto('reference/mollie-js') }}">Mollie.js</a>
  </li>
</ul>

<p class="sidebar__topic-header">Receiving orders</p>

<ul>
  {%- set current = pagename.startswith('reference/v2/orders-api/') -%}
  <li class="sidebar__item sidebar__group {%- if current %} current{% endif %}">
    <a href="{{ pathto('reference/v2/orders-api/overview') }}"
       class="{% if pagename == 'reference/v2/orders-api/overview' %}current{% endif %}">Orders API</a>

    {%- if current %}
      <ul>
        {{ sidebar_item(
          'reference/v2/orders-api/create-order',
          'Create order'
        ) }}
        {{ sidebar_item(
          'reference/v2/orders-api/get-order',
          'Get order'
        ) }}
        {{ sidebar_item(
          'reference/v2/orders-api/update-order',
          'Update order'
        ) }}
        {{ sidebar_item(
        'reference/v2/orders-api/cancel-order',
          'Cancel order'
        ) }}
        {{ sidebar_item(
          'reference/v2/orders-api/list-orders',
          'List orders'
        ) }}
        {{ sidebar_item(
        'reference/v2/orders-api/update-order-line',
        'Update order line'
        ) }}
        {{ sidebar_item(
          'reference/v2/orders-api/cancel-order-lines',
          'Cancel order lines'
        ) }}
        {{ sidebar_item(
          'reference/v2/orders-api/create-order-payment',
          'Create order payment'
        ) }}
      </ul>
    {%- endif %}
  </li>

  {%- set current = pagename.startswith('reference/v2/shipments-api/') -%}
  <li class="sidebar__item sidebar__group {%- if current %} current{% endif %}">
    <a href="{{ pathto('reference/v2/shipments-api/overview') }}"
       class="{% if pagename == 'reference/v2/shipments-api/overview' %}current{% endif %}">Shipments API</a>

    {%- if current %}
      <ul>
        {{ sidebar_item(
          'reference/v2/shipments-api/create-shipment',
          'Create shipment'
        ) }}
        {{ sidebar_item(
          'reference/v2/shipments-api/get-shipment',
          'Get shipment'
        ) }}
        {{ sidebar_item(
        'reference/v2/shipments-api/update-shipment',
        'Update shipment'
        ) }}
        {{ sidebar_item(
          'reference/v2/shipments-api/list-shipments',
          'List shipments'
        ) }}
      </ul>
    {%- endif %}
  </li>
</ul>

<p class="sidebar__topic-header">Recurring</p>

<ul>
  {%- set current = pagename.startswith('reference/v2/customers-api/') -%}
  <li class="sidebar__item sidebar__group {%- if current %} current{% endif %}">
    <a href="{{ pathto('reference/v2/customers-api/create-customer') }}">Customers API</a>

    {%- if current %}
    <ul>
      {{ sidebar_item(
        'reference/v2/customers-api/create-customer',
        'Create customer'
      ) }}
      {{ sidebar_item(
        'reference/v2/customers-api/get-customer',
        'Get customer'
      ) }}
      {{ sidebar_item(
        'reference/v2/customers-api/update-customer',
        'Update customer'
      ) }}
      {{ sidebar_item(
        'reference/v2/customers-api/delete-customer',
        'Delete customer'
      ) }}
      {{ sidebar_item(
        'reference/v2/customers-api/list-customers',
        'List customers'
      ) }}
      {{ sidebar_item(
        'reference/v2/customers-api/create-customer-payment',
        'Create customer payment'
      ) }}
      {{ sidebar_item(
        'reference/v2/customers-api/list-customer-payments',
        'List customer payments'
      ) }}
    </ul>
    {%- endif %}
  </li>

  {%- set current = pagename.startswith('reference/v2/mandates-api/') -%}
  <li class="sidebar__item sidebar__group {%- if current %} current{% endif %}">
    <a href="{{ pathto('reference/v2/mandates-api/create-mandate') }}">Mandates API</a>

    {%- if current %}
      <ul>
        {{ sidebar_item(
          'reference/v2/mandates-api/create-mandate',
          'Create mandate'
        ) }}
        {{ sidebar_item(
          'reference/v2/mandates-api/get-mandate',
          'Get mandate'
        ) }}
        {{ sidebar_item(
          'reference/v2/mandates-api/revoke-mandate',
          'Revoke mandate'
        ) }}
        {{ sidebar_item(
          'reference/v2/mandates-api/list-mandates',
          'List mandates'
        ) }}
      </ul>
    {%- endif %}
  </li>

  {%- set current = pagename.startswith('reference/v2/subscriptions-api/') -%}
  <li class="sidebar__item sidebar__group {%- if current %} current{% endif %}">
    <a href="{{ pathto('reference/v2/subscriptions-api/create-subscription') }}">Subscriptions API</a>

    {%- if current %}
      <ul>
        {{ sidebar_item(
          'reference/v2/subscriptions-api/create-subscription',
          'Create subscription'
        ) }}
        {{ sidebar_item(
          'reference/v2/subscriptions-api/get-subscription',
          'Get subscription'
        ) }}
        {{ sidebar_item(
          'reference/v2/subscriptions-api/cancel-subscription',
          'Cancel subscription'
        ) }}
        {{ sidebar_item(
          'reference/v2/subscriptions-api/list-subscriptions',
          'List subscriptions'
        ) }}
        {{ sidebar_item(
          'reference/v2/subscriptions-api/list-all-subscriptions',
          'List all subscriptions'
        ) }}
        {{ sidebar_item(
          'reference/v2/subscriptions-api/list-subscriptions-payments',
          'List subscription payments'
        ) }}
        {{ sidebar_item(
          'reference/v2/subscriptions-api/update-subscription',
          'Update subscription'
        ) }}
      </ul>
    {%- endif %}
  </li>
</ul>

<p class="sidebar__topic-header">Connect</p>

<ul>
  {%- set current = pagename.startswith('reference/oauth2/') -%}
  <li class="sidebar__item sidebar__group {%- if current %} current{% endif %}">
    <a href="{{ pathto('reference/oauth2/authorize') }}">OAuth API</a>

    {%- if current %}
      <ul>
        {{ sidebar_item(
          'reference/oauth2/authorize',
          'Authorize'
        ) }}
        {{ sidebar_item(
          'reference/oauth2/tokens',
          'Generate tokens'
        ) }}
        {{ sidebar_item(
          'reference/oauth2/revoke-token',
          'Revoke token'
        ) }}
      </ul>
    {%- endif %}
  </li>

  {%- set current = pagename.startswith('reference/v2/permissions-api/') -%}
  <li class="sidebar__item sidebar__group {%- if current %} current{% endif %}">
    <a href="{{ pathto('reference/v2/permissions-api/get-permission') }}">Permissions API</a>

    {%- if current %}
      <ul>
        {{ sidebar_item(
          'reference/v2/permissions-api/get-permission',
          'Get permission'
        ) }}
        {{ sidebar_item(
          'reference/v2/permissions-api/list-permissions',
          'List permissions'
        ) }}
      </ul>
    {%- endif %}
  </li>

  {%- set current = pagename.startswith('reference/v2/organizations-api/') -%}
  <li class="sidebar__item sidebar__group {%- if current %} current{% endif %}">
    <a href="{{ pathto('reference/v2/organizations-api/current-organization') }}">Organizations API</a>

    {%- if current %}
      <ul>
        {{ sidebar_item(
          'reference/v2/organizations-api/current-organization',
          'Get current organization'
        ) }}
        {{ sidebar_item(
          'reference/v2/organizations-api/get-organization',
          'Get organization'
        ) }}
        {{ sidebar_item(
          'reference/v2/organizations-api/get-partner',
          'Get partner status'
        ) }}
      </ul>
    {%- endif %}
  </li>

  {%- set current = pagename.startswith('reference/v2/profiles-api/') -%}
  <li class="sidebar__item sidebar__group {%- if current %} current{% endif %}">
    <a href="{{ pathto('reference/v2/profiles-api/create-profile') }}">Profiles API</a>

    {%- if current %}
      <ul>
        {{ sidebar_item(
          'reference/v2/profiles-api/create-profile',
          'Create profile'
        ) }}
        {{ sidebar_item(
          'reference/v2/profiles-api/get-profile',
          'Get profile'
        ) }}
        {{ sidebar_item(
          'reference/v2/profiles-api/get-profile-me',
          'Get current profile'
        ) }}
        {{ sidebar_item(
          'reference/v2/profiles-api/update-profile',
          'Update profile'
        ) }}
        {{ sidebar_item(
          'reference/v2/profiles-api/delete-profile',
          'Delete profile'
        ) }}
        {{ sidebar_item(
          'reference/v2/profiles-api/enable-method',
          'Enable payment method'
        ) }}
        {{ sidebar_item(
          'reference/v2/profiles-api/disable-method',
          'Disable payment method'
        ) }}
        {{ sidebar_item(
          'reference/v2/profiles-api/enable-gift-card-issuer',
          'Enable gift card issuer'
        ) }}
        {{ sidebar_item(
          'reference/v2/profiles-api/disable-gift-card-issuer',
          'Disable gift card issuer'
        ) }}
        {{ sidebar_item(
          'reference/v2/profiles-api/enable-voucher-issuer',
          'Enable voucher issuer'
        ) }}
        {{ sidebar_item(
          'reference/v2/profiles-api/disable-voucher-issuer',
          'Disable voucher issuer'
        ) }}
        {{ sidebar_item(
          'reference/v2/profiles-api/list-profiles',
          'List profiles'
        ) }}
      </ul>
    {%- endif %}
  </li>

  {%- set current = pagename.startswith('reference/v2/onboarding-api/') -%}
  <li class="sidebar__item sidebar__group {%- if current %} current{% endif %}">
    <a href="{{ pathto('reference/v2/onboarding-api/get-onboarding-status') }}">Onboarding API</a>

    {%- if current %}
      <ul>
        {{ sidebar_item(
          'reference/v2/onboarding-api/get-onboarding-status',
          'Get onboarding status'
        ) }}
        {{ sidebar_item(
          'reference/v2/onboarding-api/submit-onboarding-data',
          'Submit onboarding data'
        ) }}
      </ul>
    {%- endif %}
  </li>
</ul>

<p class="sidebar__topic-header">Business operations</p>

<ul>
  {%- set current = pagename.startswith('reference/v2/settlements-api/') -%}
  <li class="sidebar__item sidebar__group {%- if current %} current{% endif %}">
    <a href="{{ pathto('reference/v2/settlements-api/get-settlement') }}">Settlements API</a>

    {%- if current %}
      <ul>
        {{ sidebar_item(
          'reference/v2/settlements-api/get-settlement',
          'Get settlement'
        ) }}
        {{ sidebar_item(
          'reference/v2/settlements-api/get-next-settlement',
          'Get next settlement'
        ) }}
        {{ sidebar_item(
          'reference/v2/settlements-api/get-open-settlement',
          'Get open settlement'
        ) }}
        {{ sidebar_item(
          'reference/v2/settlements-api/list-settlements',
          'List settlements'
        ) }}
        {{ sidebar_item(
          'reference/v2/settlements-api/list-settlement-payments',
          'List settlement payments'
        ) }}
        {{ sidebar_item(
          'reference/v2/settlements-api/list-settlement-refunds',
          'List settlement refunds'
        ) }}
        {{ sidebar_item(
          'reference/v2/settlements-api/list-settlement-chargebacks',
          'List settlement chargebacks'
        ) }}
        {{ sidebar_item(
          'reference/v2/settlements-api/list-settlement-captures',
          'List settlement captures'
        ) }}
      </ul>
    {%- endif %}
  </li>

  {%- set current = pagename.startswith('reference/v2/invoices-api/') -%}
  <li class="sidebar__item sidebar__group {%- if current %} current{% endif %}">
    <a href="{{ pathto('reference/v2/invoices-api/get-invoice') }}">Invoices API</a>

    {%- if current %}
      <ul>
        {{ sidebar_item(
          'reference/v2/invoices-api/get-invoice',
          'Get invoice'
        ) }}
        {{ sidebar_item(
          'reference/v2/invoices-api/list-invoices',
          'List invoices'
        ) }}
      </ul>
    {%- endif %}
  </li>
</ul>
<p class="sidebar__topic-header">Partners</p>

<ul>
  {%- set current = pagename.startswith('reference/v2/clients-api/') -%}
  <li class="sidebar__item sidebar__group {%- if current %} current{% endif %}">
    <a href="{{ pathto('reference/v2/clients-api/get-client') }}">Clients API</a>

    {%- if current %}
    <ul>
      {{ sidebar_item(
      'reference/v2/clients-api/get-client',
      'Get client'
      ) }}
      {{ sidebar_item(
      'reference/v2/clients-api/list-clients',
      'List clients'
      ) }}
    </ul>
    {%- endif %}
  </li>
</ul>
