.api-name {
  margin: -.67em 0 35px;
}

.api-name__version {
  color: $grey-light;
}

.api-name__beta {
  color: $brand-primary;
  padding: 5px;
  margin-left: 8px;
  border: 1px solid $grey-medium;
  border-radius: 4px;
  background: #fcfcfc;
  font-size: 12px;
  font-weight: 700;
}
