.content #example {
  max-width: 700px;
  @media (min-width: breakpoint('extra-large')) {
    max-width: 846px;
  }
}

.content .examples-switcher .example-switch {
  font-weight: 300;
  font-size: 14px;
  font-family: $font-family-monospace;
  margin-right: 15px;
  color: $brand-primary;
  padding-bottom: 2px;
  border-bottom: 1px solid $brand-primary;
  text-decoration: none;
  transform: translateY(-3px);
  cursor: pointer;
}

.content .examples-switcher .example-switch:hover,
.content .examples-switcher .example-switch:focus {
  color: $brand-primary-hover;
}

.content .examples-switcher .example-switch.is-selected {
  font-weight: 600;
  border-bottom: none;
}

.content .code-blocks > div:not(.is-hidden) {
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}

.content .code-blocks > div.is-hidden {
  opacity: 0;
  position: absolute;
  width: 0;
}

.content .highlighttable {
  border: 1px solid $grey-medium;
  border-radius: 4px;
  margin-bottom: 40px;
  display: block;
  padding-right: 30px;
  overflow: scroll;
  width: 100%;
}

.content .section .highlighttable tbody > tr > td {
  padding-bottom: 0;
}

.content .section .highlighttable tr td.linenos {
  padding-right: 0;
  background-color: shade($background-color, 2%);
  border-right: 1px solid $grey-medium;
}

.content .section .highlighttable tr td.code {
  vertical-align: top;
}

.content .highlight {
  background: transparent;
}

.content .highlighttable pre {
  min-height: 0;
}

.content .highlight pre {
  font-family: $font-family-monospace;
  color: $grey-dark;
}

.content .highlight .kc, /* Keyword.Constant */
.content .highlight .p,
.content .highlight .l,
.content .highlight .mf, /* Literal.Number.Float */ {
  color: $grey-dark;
}

.content .highlight .nt, /* Name.Tag */
.content .highlight .kr, /* Keyword.Reserved */
.content .highlight .na, /* Name.Attribute */
.content .highlight .m, /* Literal.Number */
.content .highlight .o, /* Operator */
.content .highlight .ne /* Name.Exception */ {
  color: $orange-anzac;
}

.content .highlight .err /* Error */ {
  border: none;
  color: $grey-dark;
}

.content .highlight .mi /* Literal.Number.Integer */ {
  color: $orange-anzac;
}

.content .highlight .nv, /* Name.Variable */
.content .highlight .vc, /* Name.Variable.Class */
.content .highlight .vg, /* Name.Variable.Global */
.content .highlight .vi, /* Name.Variable.Instance */
.content .highlight .vm /* Name.Variable.Magic */ {
  color: inherit;
}

.content .highlight .mi /* Literal.Number.Integer */ {
  color: $grey-dark;
}

td.linenos pre {
  color: #999 !important;
  background: none !important;
  padding: 0 20px !important;
}

/*
 * Dark mode
 */
@media (prefers-color-scheme: dark) {
  .content .examples-switcher .example-switch {
    color: $dark-mode-brand-primary;
    border-bottom-color: $dark-mode-brand-primary;
  }

  .content .examples-switcher .example-switch:hover,
  .content .examples-switcher .example-switch:focus {
    color: $dark-mode-brand-primary-hover;
  }

  .content .highlighttable {
    color-scheme: dark; /* Force the scrollbars to dark mode */
    border-color: $grey-dark;
  }

  .content .section .highlighttable tr td.linenos {
    background-color: tint($dark-mode-background-color, 8%);
    border-right-color: $grey-dark;
  }

  .content .highlight pre {
    color: $grey-medium-light;
  }

  .content .highlight .kc, /* Keyword.Constant */
  .content .highlight .p,
  .content .highlight .l,
  .content .highlight .mf /* Literal.Number.Float */ {
    color: $grey-medium;
  }

  /* Make the default green for keywords a bit brighter */
  .content .highlight .k, /* Keyword */
  .content .highlight .cp, /* Comment.Preproc */
  .content .highlight .kc, /* Keyword.Constant */
  .content .highlight .kd, /* Keyword.Declaration */
  .content .highlight .kn, /* Keyword.Namespace */
  .content .highlight .kp, /* Keyword.Pseudo */
  .content .highlight .kr, /* Keyword.Reserved */
  .content .highlight .nb, /* Name.Builtin */
  .content .highlight .ne, /* Name.Exception */
  .content .highlight .ow, /* Operator.Word */
  .content .highlight .bp /* Name.Builtin.Pseudo */ {
    color: #34a954;
  }

  /* Make the default blue for strings a bit brighter */
  .content .highlight .sa, /* Literal.String.Affix */
  .content .highlight .sb, /* Literal.String.Backtick */
  .content .highlight .sc, /* Literal.String.Char */
  .content .highlight .dl, /* Literal.String.Delimiter */
  .content .highlight .sd, /* Literal.String.Doc */
  .content .highlight .s2, /* Literal.String.Double */
  .content .highlight .se, /* Literal.String.Escape */
  .content .highlight .sh, /* Literal.String.Heredoc */
  .content .highlight .s1 /* Literal.String.Single */ {
    color: #4987bc;
  }

  .content .highlight .err {
    color: $grey-light;
  }

  .content .highlight-php .highlight .mi {
    color: $grey-light;
  }
}
