.rst-content code.docutils {
  background: #fcfcfc;
  border: 1px solid $grey-medium;
  font-family: $font-family-monospace;
  font-size: 12px;
  border-radius: 3px;
  padding: 4px 8px 3px;
  white-space: nowrap;
}
