@import 'variables';

$border-color: #E6E6E6;

.rst-content .endpoint {
  border-radius: 4px;
  background: #FCFCFC;
  font-size: 14px;
  display: inline-block;
  margin: 0 0 15px;
  border: 1px solid $border-color;
}

.rst-content .endpoint code.docutils {
  display: inline-block;
  background: none;
  border: none;
  padding: 0;
}

.rst-content .endpoint code span {
  padding: 10px 16px;
  display: inline-block;
}

// Endpoint method
.rst-content .endpoint code:first-child {
  font-weight: bold;
  color: $brand-primary;
  border-right: 1px solid $border-color;
}

// Endpoint URL
.rst-content .endpoint code:last-child {
  font-family: $font-family-monospace;
}
