@import "functions/breakpoint";

.hamburger-menu {
  height: 36px;
  width: 36px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #e6e6e6;
  margin-right: 10px;
  padding: 11px 8px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 5px;

  @media (min-width: breakpoint("medium")) {
    display: none;
  }
}

.hamburger-menu__line {
  height: 2px;
  width: 20px;
  background: #000;
  pointer-events: none;
}
