@import "variables";

.rst-content .highlighttable {
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  margin-bottom: 40px;
  display: block;
  padding-right: 30px;
  overflow: scroll;
}

.rst-content .section .highlighttable tbody > tr > td {
  padding-bottom: 0;
  color: #999999;
}

.rst-content .section .highlighttable tr td.linenos {
  padding-right: 0;
  background-color: #fcfcfc;
  border-right: 1px solid #e6e6e6;
}

.rst-content .section .highlighttable tr td.code {
  vertical-align: top;
}

.rst-content .highlight {
  background: #fff;
}

.rst-content .highlighttable pre {
  min-height: 0;
}

.rst-content .highlight pre {
  font-family: $font-family-monospace;
  color: #999999;
}

.rst-content .highlight .kc,
.rst-content .highlight .p,
.rst-content .highlight .l,
.rst-content .highlight .s2 {
  color: #999999;
}

.rst-content .highlight .nt,
.rst-content .highlight .kr,
.rst-content .highlight .na,
.rst-content .highlight .m,
.rst-content .highlight .o,
.rst-content .highlight .ne {
  color: #e0994c;
}

.rst-content .highlight .nt,
.rst-content .highlight .ne,
.rst-content .highlight .m {
  font-weight: bold;
}

.rst-content .highlight .kc,
.rst-content .highlight .p,
.rst-content .highlight .s2,
.rst-content .highlight .se,
.rst-content .highlight .nt {
  font-weight: 300;
}

.rst-content .highlight-bash .highlight .s2,
.rst-content .highlight-bash .highlight .se {
  color: $brand-primary;
}
