.main-navigation {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 104px;
  z-index: 10;
  overflow: hidden;
  padding: 0;
}

.title-bar {
  display: flex;
  justify-content: flex-end;
  height: 64px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 120px;
  list-style: none;
}

.title-bar .is-hidden {
  display: none;
}

.title-bar__item {
  display: flex;
  height: 44px;
  margin: 0;
}

.title-bar__item a {
  display: flex;
  height: 44px;
  padding: 7px 15px;
  color: #ccc;
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  text-decoration: none;
}

.title-bar__item a:hover {
  color: #fff;
  text-decoration: none;
}

.title-bar__logo {
  margin-right: auto;
}

.title-bar__logo a {
  padding-left: 0;
}

.title-bar__logo svg {
  fill: #fff;
  height: 19px;
  margin-top: 2px;
  width: 65px;
}

.title-bar__logo span {
  height: 27px;
  margin-left: 6px;
  padding: 0 6px;
  border-radius: 3px;
  background: #07f;
  color: #fff;
  font-size: 19px;
  line-height: 27px;
}

.title-bar__signup a {
  background: #444;
  color: #ddd;
  border-radius: 8px;
}

.product-navigation {
  display: flex;
  height: 40px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 120px;
}

.product-navigation__item {
  display: flex;
  height: 40px;
  margin: 0;
}

.product-navigation__item a {
  display: flex;
  height: 40px;
  padding: 5px 20px;
  color: #ccc;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.product-navigation__item:first-child a {
  padding-left: 0;
}

.product-navigation__item a:hover {
  color: #fff;
  text-decoration: none;
}

.product-navigation__item--active a {
  color: #fff;
  font-weight: bold;
}

.mobile-product-navigation {
  display: none;
  height: 44px;
  padding: 0 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 0;
  border-radius: 8px;
  background: #444;
  color: #fff;
  line-height: 44px;
  font-size: 16px;
  font-weight: 600;
}

.mobile-product-navigation:focus {
  outline: none;
}

@media only screen and (max-width: 979px) {
  body {
    padding-top: 64px;
  }

  .main-navigation {
    height: 64px;
  }

  .title-bar {
    padding-left: 30px;
    padding-right: 30px;
  }

  .product-navigation {
    display: none;
  }

  .mobile-product-navigation {
    display: block;
  }
}

@media only screen and (max-width: 600px) {
  .title-bar__item {
    display: none;
  }
}
