.main__inner {
  display: flex;
  flex-wrap: nowrap;

  @media (min-width: $mobile-navigation-breakpoint) {
    width: 100%;
  }
}

.main__sidebar {
  min-width: 260px;
  position: fixed;
  z-index: 3;
  transition: 300ms transform ease-in-out;

  @media (min-width: $mobile-navigation-breakpoint) {
    z-index: auto;
    position: relative;
    display: block;
  }
}

.main__content {
  position: relative;
  min-width: 0;
  max-width: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 80px 0;
}

@media only screen and (max-width: $mobile-navigation-breakpoint - 1px) {
  .main__content {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.main__content > .footer {
  max-width: 400px;
  margin: 60px auto 0;
  text-align: center;
  font-size: 13px;
  line-height: 1.5em;
  opacity: .7;
}
