.main-navigation {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .05);
}

.title-bar {
  height: 60px;
  border-bottom: 1px solid #e0e0e0;
}

.title-bar > ul {
  display: flex;
  height: 60px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 12px 120px;
  list-style: none;
}

.title-bar .is-hidden {
  display: none;
}

.title-bar__item {
  height: 36px;
  margin: 0 40px 0 0;
}

.title-bar__item a {
  display: block;
  height: 36px;
  padding: 5px 0;
  color: #333;
  font-size: 16px;
  font-weight: normal;
  line-height: 26px;
  text-decoration: none;
}

.title-bar__item a:hover {
  color: #000;
  text-decoration: none;
}

.title-bar__logo a {
  display: flex;
  padding: 5px 0;
}

.title-bar__logo svg {
  fill: #000;
  height: 19px;
  margin-top: 2px;
  width: 65px;
}

.title-bar__logo span {
  height: 27px;
  margin-left: 6px;
  padding: 0 6px;
  border-radius: 3px;
  background: $brand-primary;
  color: #fff;
  font-size: 19px;
  line-height: 27px;
}

.title-bar__item--active {
  position: relative;
}

.title-bar__item--active a {
  color: #000;
  font-weight: 600;
}

.title-bar__item--active:before,
.title-bar__item--active:after {
  display: block;
  content: "";
  position: absolute;
  bottom: -19px;
  left: 50%;
  margin-left: -8px;
  width: 16px;
  height: 16px;
  background: #e0e0e0;
  transform: rotate(45deg);
}

.title-bar__item--active:after {
  background: #fafafa;
  bottom: -20px;
}

.title-bar__search {
  margin-left: auto;
  margin-right: 30px;
}

.title-bar__login {
  margin-right: 30px;
}

.title-bar__signup {
  margin-right: 0;
}

.title-bar__signup a {
  background: #333;
  color: #fff;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.title-bar__signup a:hover {
  background: #000;
  color: #fff;
}

.title-bar__dashboard {
  margin-left: auto;
  margin-right: 0;
}

.product-navigation {
  height: 40px;
  background: #fafafa;
  border-bottom: 1px solid #e0e0e0;
}

.product-navigation > ul {
  display: flex;
  height: 40px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 5px 120px;
  list-style: none;
}

.product-navigation__item {
  height: 30px;
  margin: 0;
}

.product-navigation__item a {
  display: block;
  height: 30px;
  padding: 0;
  margin-right: 40px;
  color: #333;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
}

.product-navigation__item a:hover {
  color: #000;
  text-decoration: none;
}

.product-navigation__item--active a {
  color: #000;
  font-weight: 600;
}

.mobile-product-navigation.link-dropdown {
  display: none;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  height: 40px;
  padding: 0 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}

.mobile-product-navigation.link-dropdown.dk-select {
  z-index: 99999;
  width: 200px;
}

.mobile-product-navigation.link-dropdown.dk-select.dk-select-open-down {
  border-radius: 5px;
}

.mobile-product-navigation.link-dropdown .dk-selected {
  height: 38px;
  padding: 0 15px;
  border: 0;
  background: #fff;
  color: #000;
  line-height: 38px;
  font-size: 16px;
  font-weight: 600;
}

.mobile-product-navigation.link-dropdown .dk-selected:before,
.mobile-product-navigation.link-dropdown .dk-selected:hover:before {
  border-top-color: #000;
}

.mobile-product-navigation.link-dropdown.dk-select-open-down .dk-selected:before,
.mobile-product-navigation.link-dropdown.dk-select-open-down .dk-selected:hover:before {
  border-bottom-color: #000;
}

.mobile-product-navigation.link-dropdown.dk-select-open-down .dk-select-options {
  top: 44px;
  left: -1px;
  right: -1px;
  background: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, .05);
}

.mobile-product-navigation.link-dropdown.dk-select-open-down .dk-select-options .dk-option-highlight {
  background: #f3f3f3;
}

@media only screen and (max-width: $mobile-navigation-breakpoint - 1px) {
  body {
    padding-top: 60px;
  }

  .title-bar > ul {
    padding-left: 30px;
    padding-right: 30px;
  }

  .title-bar__space {
    display: none;
  }

  .title-bar__login {
    margin-right: 20px;
  }

  .product-navigation {
    display: none;
  }

  .mobile-product-navigation.link-dropdown {
    display: block;
  }
}

@media only screen and (max-width: 640px) {
  .title-bar__item {
    display: none;
  }
}

/*
 * Dark mode
 */
@media (prefers-color-scheme: dark) {
  .main-navigation {
    background: #000;
    box-shadow: none;
  }

  .title-bar {
    border-color: #555;
  }

  .title-bar__item--active:before {
    background: #555;
  }

  .title-bar__item--active:after {
    background: #000;
  }

  .product-navigation {
    background: #000;
    border-color: transparent;
  }

  .title-bar__item a,
  .product-navigation__item a {
    color: #ddd;
  }

  .title-bar__item a:hover,
  .product-navigation__item a:hover {
    color: #fff;
  }

  .title-bar__logo svg {
    fill: #fff;
  }

  .title-bar__signup a {
    color: #222;
    background: #eee;
  }

  .title-bar__signup a:hover {
    color: #000;
    background: #fff;
  }
}
