.mobile-navigation {
  left: 0;
  position: absolute;
  top: 0;
  margin: 0 auto;
  padding: 0 15px 50px;
  background-color: #fff;
  text-align: center;
  width: 100%;
  opacity: 1;
  transform: translateY(-100%);
  transition: transform 0.25s ease-out;
  will-change: transform;
  z-index: 15;
  pointer-events: all;

  @media (max-width: breakpoint('<small')) {
    padding: 0 10px 50px;
  }

  @media (min-width: breakpoint('medium')) {
    display: none;
  }
}

.mobile-navigation.is-hidden {
  opacity: 0;
  transition: transform 0.25s 0s ease-out, opacity 0s 0.25s;
  pointer-events: none;
}

.mobile-navigation--dark {
  background-color: #000;
  color: #fff;
}

.mobile-navigation:not(.is-hidden),
.mobile-navigation:target {
  height: 100vh;
  overflow: auto;
  transform: translateY(0);
}

.mobile-navigation__products {
  margin-left: -10px;
  margin-right: -10px;
}

.mobile-navigation__hide {
  display: block;
  border: 0;
  height: 50px;
  padding-top: 15px;
  width: 100%;
  background: transparent;
  color: transparent;
  font-size: 0;
  text-align: center;
  transform: none;
  transition: transform 0.6s cubic-bezier(1, 0, 0, 1);
  transition-delay: 0.2s;
}

.mobile-navigation__hide::after {
  content: '';
  border: 2px solid $text-color;
  border-width: 0 2px 2px 0;
  display: inline-block;
  height: 12px;
  margin-top: 5px;
  width: 12px;
  transform: rotate(-135deg);
}

.mobile-navigation.is-hidden .mobile-navigation__hide {
  transform: translateY(-50px);
  opacity: 0;
}

.mobile-navigation--dark .mobile-navigation__hide::after {
  border-color: #fff;
}

.mobile-navigation:target .mobile-navigation__hide {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.3s;
}

.mobile-navigation p {
  margin-bottom: 0;
}

.mobile-navigation a:not(.mobile-navigation__button) {
  color: inherit;
}

.mobile-navigation__products,
.mobile-navigation__links {
  @include bare-list;
  margin-bottom: 20px;

  @media (min-width: breakpoint('small')) {
    margin-bottom: 30px;
  }
}

.mobile-navigation__products {
  @media (max-height: 570px) {
    margin-bottom: 10px;
  }
}

.mobile-navigation__logo {
  flex: 0 0 64px;

  @media (max-width: breakpoint('<small')) {
    flex: 0 0 50px;
  }
}

.mobile-navigation__text {
  flex: 1 1 auto;
  padding-left: 20px;
  font-size: 16px;

  @media (max-width: breakpoint('<small')) {
    font-size: 15px;
  }
}

.mobile-navigation__heading {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;

  @media (max-width: breakpoint('<small')) {
    font-size: 22px;
  }
}

.mobile-navigation__links {
  margin-top: 30px;
  columns: 2;

  @media (max-height: 570px) {
    margin-top: 0;
  }
}

.mobile-navigation__link {
  margin-left: auto;
  width: 110px;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  white-space: nowrap;
}

.mobile-navigation__link:nth-child(n + 5) {
  margin: 0 auto 0 0;
}

.mobile-navigation__link a {
  padding: 10px;
}

.mobile-navigation__buttons {
  display: flex;
  width: 240px;
  margin: 0 auto;
  justify-content: space-between;
}

.mobile-navigation__button {
  // Overwrite default min-width for mobile buttons
  min-width: 110px;
  width: 110px;
}

.mobile-navigation__button.is-dashboard {
  // When logged in, only the dashboard button is visble. This centers it.
  margin: 0 auto;
}
