@import 'variables';

.rst-content table.docutils {
  width: 100%;
}

.rst-content table.docutils,
.rst-content table.docutils tr,
.rst-content table.docutils td {
  border: 0;
}

.rst-content table.docutils > tbody > tr > td {
  border-top: 1px solid #e9edef;
  padding-top: 30px;
}

.rst-content .section > .wy-table-responsive > table > tbody > tr > td {
  padding-bottom: 30px;
}

.rst-content .section > .wy-table-responsive > table {
  margin-top: 30px;
}

.rst-content table.docutils p {
  margin-bottom: 30px;
}

.rst-content table.docutils p:last-child {
  margin-bottom: 0;
}

.rst-content .section > .wy-table-responsive > table > tbody > tr > td:first-child {
  max-width: 145px;
  padding-right: 40px;
  text-align: right;
}

.rst-content .section > .wy-table-responsive > table > tbody > tr > td:first-child p {
  margin-bottom: 0;
}

.rst-content table.docutils tbody tr td:first-child .container {
  margin-top: 8px;
}

.rst-content table.docutils tbody tr td:first-child .type {
  color: #999999;
  font-family: $font-family-monospace;
  font-size: 12px;
  font-weight: normal;
}

.rst-content table.docutils tbody tr td:first-child .required,
.rst-content table.docutils tbody tr td:first-child .optional, {
  font-family: $font-family-monospace;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.rst-content table.docutils tbody tr td:first-child .required {
  color: #7373FF;
}

.rst-content table.docutils tbody tr td:first-child .optional {
  color: #E0994C;
}
