.rst-content dl.docutils dd {
  padding-bottom: 30px;
  padding-top: 10px;
}

.rst-content table.docutils {
  width: 100%;
  font-size: 14px;
}

.rst-content table.docutils,
.rst-content table.docutils th,
.rst-content table.docutils tr,
.rst-content table.docutils td {
  border: 0;
}

.rst-content table.docutils > thead > tr > th {
  padding-bottom: 20px;
}

.rst-content table.docutils > tbody > tr > td {
  border-top: 1px solid #e9edef;
  padding-top: 30px;
  padding-bottom: 30px;
}

.rst-content .section table > tbody > tr > td {
  padding-bottom: 30px;
}

.rst-content .section table > tbody > tr:last-child > td {
  padding-bottom: 0;
}

.rst-content .section table {
  margin-top: 12px;
}

.rst-content .section > table.docutils {
  margin-bottom: 60px;
}

.rst-content table.docutils p,
.rst-content table.docutils ul,
.rst-content table.docutils ol,
.rst-content table.docutils div.admonition {
  margin-bottom: 20px;
}

.rst-content table.docutils p:last-child,
.rst-content table.docutils ul:last-child,
.rst-content table.docutils ol:last-child,
.rst-content table.docutils div.admonition:last-child {
  margin-bottom: 0;
}

.rst-content .section table > tbody > tr > td:first-child {
  max-width: 160px;
  padding-right: 40px;
  text-align: right;
}

.rst-content .section table.docutils > thead > tr > th.right-align,
.rst-content .section table.docutils > tbody > tr > td.right-align {
  text-align: right !important;
}

.rst-content .section table.docutils > thead > tr > th.left-align,
.rst-content .section table.docutils > tbody > tr > td.left-align {
  text-align: left !important;
}

.rst-content .section table > tbody > tr > td:first-child p {
  margin-bottom: 0;
}

.rst-content .section > table.docutils tbody tr td:first-child .container {
  margin-top: 6px;
}

.rst-content .section table > tbody > tr > td table + p {
  margin-top: 20px;
}

@media (min-width: breakpoint('medium')) {
  .rst-content .section > table.docutils > tbody > tr:last-child > td {
    border-bottom: 1px solid #e9edef;
    padding-bottom: 30px;
  }
}

.parameter {
  border-top: 1px solid #ccc;
  padding-top: 25px;
  margin-bottom: 25px;
  font-size: 14px;
  line-height: 30px;
}

.parameter__name {
  display: flex;
  align-items: center;
}

.parameter__name code {
  font-size: 12.5px;
  line-height: 18px;
}

.parameter__type {
  color: $grey-dusty;
  font-family: $font-family-monospace;
  font-size: 12px;
  font-weight: 500;
  margin-left: 15px;
}

.parameter__condition {
  color: $grey-dusty;
  font-family: $font-family-monospace;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 15px;
}

.parameter__condition--required {
  color: $orange-anzac;
}

.parameter__collapse-button {
  margin-left: auto;
  color: #666;
  position: relative;
  padding-right: 20px;
}

.parameter__collapse-button:hover {
  color: #333;
  text-decoration: none;
}

.parameter__collapse-button:after {
  content: "‹";
  font-size: 20px;
  line-height: 24px;
  display: block;
  position: absolute;
  top: 3px;
  right: 3px;
  transform: rotate(90deg);
}

.parameter__collapse-button.collapsed:after {
  transform: rotate(-90deg);
  right: 4px;
}

.parameter__description {
  margin-top: 10px;
  margin-left: 50px;
  position: relative;
  top: 0;
  opacity: 1;
  height: auto;
  visibility: visible;
  transition: top .2s, opacity .2s;
}

.parameter__description p,
.parameter__description .admonition {
  margin-bottom: 25px;
}

.parameter__description.collapsed {
  position: absolute;
  top: -10px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.parameter__description .parameter__children-button {
  margin-bottom: 0;
}

.parameter__children-button a {
  color: #666;
  padding-left: 20px;
  position: relative;
}

.parameter__children-button a:hover {
  color: #333;
  text-decoration: none;
}

.parameter__children-button a:before {
  content: "‹";
  font-size: 20px;
  line-height: 13px;
  display: block;
  position: absolute;
  top: 3px;
  left: 3px;
  transform: rotate(-90deg);
}

.parameter__children-button.active a:before {
  transform: rotate(90deg);
  left: 4px;
}

.parameter__children {
  position: absolute;
  top: -10px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  transition: top .2s, opacity .2s;
}

.parameter__children.active {
  position: relative;
  top: 0;
  opacity: 1;
  height: auto;
  visibility: visible;
}

.parameter__children .parameter:first-child {
  margin-top: 25px;
}

@media only screen and (max-width: breakpoint('medium')) {
  .parameter__name code {
    max-width: 180px;
  }

  .parameter__collapse-button {
    font-size: 0;
    width: 0;
  }
}
