@import 'variables';

.sidebar {
  color: #000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background-color: #fff;
  z-index: 2;
  height: 100vh;
  overflow-y: auto;
  pointer-events: none;
  padding-left: 50px;
  -webkit-overflow-scrolling: touch;
  display: none;

  @media (min-width: $mobile-navigation-breakpoint) {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    pointer-events: auto;
    overflow: visible;
    left: auto;
    top: 0;
    right: auto;
    bottom: auto;
    z-index: 0;
    display: block;
  }
}

.sidebar.is-visible {
  pointer-events: all;
  display: block;
}

.sidebar__inner {
  padding-top: 80px;
  padding-bottom: 80px;
  font-size: 15px;
}

.sidebar.is-visible .sidebar__inner {
  padding-top: 100px;
}

.sidebar__inner ul {
  @include bare-list;
}

.sidebar__topic-header {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 30px 0 10px;
}

.sidebar__topic-header:first-child {
  margin-top: 0;
}

.sidebar__item a {
  color: #666;
}

.sidebar__item a:hover {
  color: #000;
  text-decoration: none;
}

.sidebar__item.current > a {
  font-weight: 600;
  color: $brand-primary;
}

.sidebar__item.current > a:hover {
  color: $brand-primary-hover;
}

.sidebar__group.current > ul {
  margin: 5px 0;
  padding-left: 20px;
}

.sidebar__group.current > a {
  color: #000;
}

.sidebar__group.current > a.current {
  color: $brand-primary;
}

.sidebar__group.current > a.current:hover {
  color: $brand-primary-hover;
}

.sidebar__changelog > ul > li > a,
.sidebar__changelog > ul > li > ul > li > ul {
  display: none;
}

.sidebar__changelog > ul > li > ul > li > a {
  color: #666;
}

.sidebar__changelog > ul > li > ul > li > a:hover {
  color: #000;
  text-decoration: none;
}

/*
 * Dark mode
 */
@media (prefers-color-scheme: dark) {
  .sidebar {
    background: $dark-mode-background-color;
    color: $dark-mode-text-color;
  }

  .sidebar__item a {
    color: #ccc;
  }

  .sidebar__item a:hover {
    color: $dark-mode-text-color;
  }

  .sidebar__item.current > a {
    color: $dark-mode-brand-primary;
  }

  .sidebar__item.current > a:hover {
    color: $dark-mode-brand-primary-hover;
  }

  .sidebar__group.current > a {
    color: $dark-mode-text-color;
  }

  .sidebar__group.current > a.current {
    color: $dark-mode-brand-primary;
  }

  .sidebar__group.current > a.current:hover {
    color: $dark-mode-brand-primary-hover;
  }

  .sidebar__changelog > ul > li > ul > li > a {
    color: #ccc;
  }

  .sidebar__changelog > ul > li > ul > li > a:hover {
    color: $dark-mode-text-color;
  }
}
