@import "variables";
@import "functions/breakpoint";
@import "mixins/bare-list";

$sub-navigation-height: 100px;
$sub-navigation-height-collapsed: 80px;

.sub-navigation {
  background: #fafafa;
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.05);
  transition: transform 300ms ease-in-out;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 2;
}

.sub-navigation--small {
  transform: translateY(-50px);
}

.sub-navigation:hover {
  transform: translateY(0);
}

.sub-navigation__items {
  @include bare-list;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sub-navigation__item {
  margin-right: 60px;
}
