.type {
    color: #999999;
    font-family: $font-family-monospace;
    font-size: 12px;
    font-weight: 500;
}

.type .condition {
    font-family: $font-family-monospace;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
}

.type.required .condition {
    color: #7373FF;
}

.type.optional .condition {
  color: #E0994C;
}
