// Normal - Circular Book
@font-face {
  font-family: "Circular";
  font-weight: normal;
  src: url("https://cdn.mollie.com/assets/circular-pro-book.woff2") format("woff2"),
    url("https://cdn.mollie.com/assets/circular-pro-book.woff") format("woff");
}

// Medium - Circular Medium
@font-face {
  font-family: "Circular";
  font-weight: 600;
  src: url("https://cdn.mollie.com/assets/circular-pro-medium.woff2") format("woff2"),
    url("https://cdn.mollie.com/assets/circular-pro-medium.woff") format("woff");
}

// Bold - Circular Bold
@font-face {
  font-family: "Circular";
  font-weight: bold;
  src: url("https://cdn.mollie.com/assets/circular-pro-bold.woff2") format("woff2"),
    url("https://cdn.mollie.com/assets/circular-pro-bold.woff") format("woff");
}
