@import "fonts";
@import "normalize";
@import "variables";
@import "functions/breakpoint";

/**
 * Base styles
 */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.5;
  font-feature-settings: "liga", "kern";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline-width: thin;
  outline-color: $brand-primary;
}

body {
  padding-top: 45px;
}

dl,
ul,
ol,
dl {
  margin-top: 0;
  margin-bottom: $default-line-height + em;
}

button,
input[type="submit"] {
  cursor: pointer;
}

button,
input,
select,
textarea {
  color: #111;
  font-family: $font-family-default;
  font-weight: 300;
  font-size: 21px;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

svg {
  vertical-align: middle;
}

hr {
  border: 0;
  border-top: 1px solid $grey-light;
  margin: 30px 0;
}

a {
  color: $brand-primary;
  text-decoration: none;
}

a:not([class]):hover,
a:not([class]):focus {
  text-decoration: underline;
}

a.headerlink {
  color: #999999;
  display: none;
}

body.mobile-menu-opened .main-navigation__logo-wrapper,
body.mobile-menu-opened .main__sidebar {
  transform: translateX(calc(100vw - 40px));
}

body.mobile-menu-opened .main__content::before,
body.mobile-menu-opened .main-navigation__search-wrapper::before {
  background: #fff;
}

/**
* Main content wrapper
*/
[role="main"].document {
  max-width: 100%;
  overflow: hidden;
}

/**
 * Typography
 */
@import "typography";

/**
 * Layout blocks
 */
@import "layout/l-layer";
@import "layout/l-wrapper";

/**
* Components
*/
@import "components/main-navigation";
@import "components/footer";
@import "components/main";
@import "components/sidebar";
@import "components/content";
@import "components/breadcrumbs";
@import "components/endpoint";
@import "components/authentication";
@import "components/parameters";
@import "components/code";
@import "components/highlight";
@import "components/searchbox";
@import "components/hamburger-menu";
@import "components/note";
@import "components/github-link";
@import "components/type";
@import "components/figure";
